<%= render "layouts/post" %>

<p><%= link_to "新規作成", new_post_path %></p>

<%= form_with url: search_posts_path, method: :get, local: :true do |form| %>
  <%= form.select :sort_id, [["更新新しい順", 1], ["いいね順", 2]], include_blank: "並べ順" %>
  <%= form.collection_select( :tag_id, Tag.all, :id, :tag_name, include_blank: "タグ") %>
  <%= form.submit :検索 %>
<% end %>
