<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />

<div class="flex">
  <div class='flex from-teal-100 via-teal-300 to-teal-500 mx-auto w-full h-full mt-10'>
    <article class="w-full h-auto max-w-lg mx-auto break-inside p-6 rounded-xl bg-white flex flex-col bg-clip-border">
      <h2 class="text-3xl font-extrabold mb-2">
          <%= @post.title %>
      </h2>
      <div class="mb-2 prose">
          <%= markdown(@post.text) %>
      </div>
      <div class='border-2 border-gray-300 rounded-md cursor-pointer mb-5'>
          <a href=<%= @post.url %> target="_blank">
              <%= image_tag @post.site_img, class: "rounded" %>
              <%= @post.site_title %>
          </a>
      </div>
      <div class="flex items-center">
          <div class="flex">
              <%# TODO: userアイコンのクリック遷移先 %>
              <a class="inline-block mr-4" href="#">
              <% if @post.user.user_img.attached? %>
                  <%= image_tag @post.user.user_img, class: "h-12 w-12 rounded-full max-w-none" %>
              <% else %>
                  <img src="/default_user.jpeg" alt="" class="h-12 w-12 rounded-full max-w-none">
              <% end %>
              </a>
              <div class="flex flex-col">
              <div>
                  <a class="inline-block text-lg font-bold" href="#"><%= @post.user.name %></a>
              </div>
              <%# TODO: 入力日を表示 %>
              <div class="text-slate-500">
                  2018/01/01
              </div>
              </div>
          </div>
          <%# いいね %>
          <div class="py-4 flex ml-auto items-center">
              <span class="bg-gray-200 px-2 py-1 text-center rounded cursor-pointer mr-4">
                <% @post.tags.each do |tag| %>
                  <%= link_to(search_posts_path(tag_id: tag)) do %>
                      <%= tag.tag_name %>
                  <% end %>
                <% end  %>
              </span>
              <span class="mr-2">
              <% if user_signed_in? && current_user.already_liked?(@post.id, current_user.id) %>
                  <%= link_to "", post_likes_path(@post), method: :delete, class: "fas fa-heart fa-lg" %>
              <% else %>
                  <%= link_to "", post_likes_path(@post.id), method: :post, class: "far fa-heart fa-lg" %>
              <% end %>
              </span>
              <span class="text-lg font-bold">
                  <%= @post.likes.count %>
              </span>
          </div>
      </div>
      <div class="flex">
        <div class="flex flex-row items-center ml-auto mt-1">
          <% if @post.user_id == current_user.id %>
            <div class="flex items-center mr-4">
              <%= button_to "編集", edit_post_path(@post), method: :get, class: "px-2 py-1 bg-blue-400 text-white rounded hover:bg-blue-500" %>
            </div>
            <div class="flex items-center">
              <%= button_to "削除", post_path(@post), method: :delete, class: "px-2 py-1 bg-blue-400 text-white rounded hover:bg-blue-500" %>
            </div>
          <% end %>
        </div>
      </div>
    </article>
  </div>
  <%# <div class="flex flex-row w-1/5 ml-auto mr-20"> %>
    <%# <%= render "layouts/post" %>
  <%# </div> %>
</div>
<div class="flex mx-4 my-4">
  <%= button_to "もどる", posts_path(@post), method: :get, class: "px-2 py-1 bg-blue-400 text-white rounded hover:bg-blue-500" %></p>
</div>
