<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />

<div class="flex w-full h-full flex-wrap justify-center">
  <% @posts.each do |post| %>
    <%= link_to post_path(post.id) do %>
      <div class="mx-6 mt-6">
        <div class="max-w-sm w-80 bg-white shadow-md rounded-lg overflow-hidden mx-auto">
          <div class='flex items-left w-full px-2 py-3'>
            <div class='mx-3 w-full'>
              <div class="flex flex-row mb-4">
                <div class='text-gray-600 font-semibold'>
                  <%= post.title.truncate(17, omission: '…') %>
                </div>
              </div>
                <%# TODO 画像をDBから取得し、表示する %>
                <img class="h-6 w-6 rounded-full" src="/default_user.jpeg">
              <div class='font-medium text-sm border-2 border-gray-300 rounded-md cursor-pointer mb-5'>
                <%= image_tag post.site_img, class: "rounded" %>
                <%= post.site_title.truncate(50, omission: '…') %>
              </div>
              <div class="flex">
                <div class="flex flex-row justify-start">
                  <div class='text-sm border-2 rounded-full border-pink-600 cursor-pointer items-center mr-2'>
                  </div>
                  <div  class="flex flex-row">
                    <%= post.user.name %>
                  </div>
                </div>
                <div class="flex flex-row mt-1 ml-auto">
                  <div class='font-medium text-xs mr-2'>
                      <%= link_to(search_posts_path(tag_id: post.tag_id)) do %>
                    <span class="bg-gray-200 px-2 py-1 items-center rounded text-gray-400 cursor-pointer">
                        <%= post.tag.tag_name %>
                    </span>
                      <% end %>
                  </div>
                  <div class='font-medium text-xs items-center'>
                    <% if current_user.already_liked(post.id, current_user.id) %>
                      <%= link_to "", post_likes_path(post), method: :delete, class: "fas fa-heart fa-lg" %>
                    <% else %>
                      <%= link_to "", post_likes_path(post.id), method: :post, class: "far fa-heart fa-lg" %>
                    <% end %>
                    <%= post.likes.count %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  <% end %>
<% end %>
<%= paginate @posts %>
</div>
